@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

body {
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: "Roboto";
}

div#root {
  width: 100%;
}

.App {
  text-align: center;
  background: #f3f2ef;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

img.logo {
  width: 40%;
}

header.App-header {
  padding: 2rem;
}

h2 {
  margin: 0;
}

/* img.image-homepage {
  padding-top: 2rem;
  width: 100%;
}

.comment-homepage {
  margin: 2rem;
  padding: 2.5rem;
  text-align: justify;
  border: solid;
  border-color: #d8d7d5;
  border-radius: 1rem;
  background: #fdfdfd;
} */

/* @media screen and (max-width: 767px) {
  .comment-homepage {
    margin: 0;
    padding: 1.5rem;
    text-align: justify;
    border-top: solid;
    border-color: #d8d7d5;
    background: #fdfdfd;
  }

  header.App-header {
    padding: 0;
  }
} */

/* .username {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.date {
  font-style: italic;
  color: #b1b1b1;
  padding-bottom: 0.3rem;
} */

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.login-button {
  border: none;
  padding: 0.5rem;
  border-radius: 8px;
  background: #686868;
  font: bold 13px "Roboto";
  color: #fff;
  font-size: 1rem;
}

a.login-button {
  padding: 0.5rem;
  font-size: 1rem;
  text-decoration: none;
}

/* .login-form {
  max-width: 75%;
  margin: 50px auto;
  background: #fff;
  border-radius: 2px;
  padding: 20px;
  font-family: "Roboto";
  font-size: 1rem;
}
.login-form h1 {
  display: block;
  text-align: center;
  padding: 0;
  margin: 0px 0px 20px 0px;
  color: #5c5c5c;
  font-size: x-large;
}
.login-form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.login-form li {
  display: block;
  padding: 9px;
  border: 1px solid #dddddd;
  margin-bottom: 30px;
  border-radius: 3px;
}

.login-form li > label {
  display: block;
  float: left;
  margin-top: -19px;
  background: #ffffff;
  height: 14px;
  padding: 2px 5px 2px 5px;
  color: #5d5d5d;
  font-size: 14px;
  overflow: hidden;
  font-family: "Roboto";
}

.login-form input {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  padding: 0;
  font-family: "Roboto";
}

.login-form li > span {
  background: #f3f3f3;
  display: block;
  padding: 3px;
  margin: 0 -9px -9px -9px;
  text-align: center;
  color: #5d5d5d;
  font-family: "Roboto";
  font-size: 11px;
}
.login-form textarea {
  resize: none;
} */
